<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <title>To Do List</title>
    </head>
    <body>
        <div class = 'container'>
            <div class='jumbotron'>
                <h1>{{ category.getName }}</h1>
            </div>
        </div>

        <div class = 'container'>
            {% if tasks is not empty %}
                <p>Here are the tasks:</p>
                <ul>
                    {% for task in tasks %}
                        <li>{{ task.getDescription }} - {{ task.getDate | date("m/d/Y")}}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div class = 'container'>
            <h4>Add a task</h4>

            <form action="/tasks" method="post">
                <input type="hidden" name="category_id" id="category_id" value="{{ category.getId() }}">
                <label for='description'>Task Description</label>
                <input id='description' name='description' type='text' required>
                <label for='due_date'>Due Date</label>
                <input type='date' name='due_date' id='due_date' required>

                <button type='submit'>Add task</button>
            </form>
        </div>

        <footer class='footer'>
                <p><a href='/'>Home</a></p>
        </footer>
    </body>
</html>
